.button {
	-fx-cursor : hand;
	-fx-background-radius: white;
	-fx-background-color: #2c7a6a;
	-fx-color: white;
}
.dialog{
	-fx-background-color: linear-gradient(to right,#B6D0BD,white);
}
.dialog:header *.header-panel{
	-fx-background-color: linear-gradient(to right,#B6D0BD,white);
}
.dialog > *.contenant.label{
	-fx-font-size:20px;
} 
.dialog:header *.header-panel *.label {
	-fx-font-size:20px;
}

